<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All exercise elements
    </h1>

    <a href="/exercise_elements/new" class="btn btn-block btn-outline-secondary">
      Add a new exercise element
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "exercise_element_templates/exercise_elements_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Exercise
        </th>

        <th>
          Element
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @exercise_elements.each do |exercise_element| %>
      <tr>
        <td>
          <%= exercise_element.id %>
        </td>

        <td>
          <% if exercise_element.exercise.present? %>
            <a href="/exercises/<%= exercise_element.exercise.id %>">
              <%= exercise_element.exercise.right_left_bool %>
            </a>
          <% end %>
        </td>

        <td>
          <% if exercise_element.element.present? %>
            <a href="/elements/<%= exercise_element.element.id %>">
              <%= exercise_element.element.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(exercise_element.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(exercise_element.updated_at) %> ago
        </td>

        <td>
          <a href="/exercise_elements/<%= exercise_element.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @exercise_elements, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
