<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Exercise element #<%= @exercise_element.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/exercise_elements" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link exercise_element start -->
      <div class="col">
        <a href="/exercise_elements/<%= @exercise_element.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit exercise element
        </a>
      </div>
      <!-- Edit link exercise_element end -->

      <!-- Delete link exercise_element start -->
      <div class="col">
        <a href="/delete_exercise_element/<%= @exercise_element.id %>" class="btn btn-block btn-outline-secondary">
          Delete exercise element
        </a>
      </div>
      <!-- Delete link exercise_element end -->
    </div>

    <dl>
      <dt>
        Exercise
      </dt>
      <!-- Display exercise_id start -->
      <dd>
        <%= @exercise_element.exercise_id %>
      </dd>
      <!-- Display exercise_id end -->

      <dt>
        Element
      </dt>
      <!-- Display element_id start -->
      <dd>
        <%= @exercise_element.element_id %>
      </dd>
      <!-- Display element_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@exercise_element.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@exercise_element.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
