<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Workout #<%= @workout.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/workouts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/workouts/<%= @workout.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit workout
        </a>
      </div>

      <div class="col">
        <a href="/delete_workout/<%= @workout.id %>" class="btn btn-block btn-outline-secondary">
          Delete workout
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @workout.user.present? %>
          <a href="/users/<%= @workout.user_id %>">
            <%= @workout.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Client
      </dt>
      <dd>
        <% if @workout.client.present? %>
          <a href="/clients/<%= @workout.client_id %>">
            <%= @workout.client.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Scheduled date
      </dt>
      <dd>
        <%= @workout.scheduled_date %>
      </dd>

      <dt>
        Logged date
      </dt>
      <dd>
        <%= @workout.logged_date %>
      </dd>

      <dt>
        Phase number
      </dt>
      <dd>
        <%= @workout.phase_number %>
      </dd>

      <dt>
        Week number
      </dt>
      <dd>
        <%= @workout.week_number %>
      </dd>

      <dt>
        Day number
      </dt>
      <dd>
        <%= @workout.day_number %>
      </dd>

      <dt>
        Workout focus
      </dt>
      <dd>
        <%= @workout.workout_focus %>
      </dd>

      <dt>
        Sets reps array
      </dt>
      <dd>
        <%= @workout.sets_reps_array %>
      </dd>

      <dt>
        Resistance array
      </dt>
      <dd>
        <%= @workout.resistance_array %>
      </dd>

      <dt>
        Set duration array
      </dt>
      <dd>
        <%= @workout.set_duration_array %>
      </dd>

      <dt>
        Set work rest array
      </dt>
      <dd>
        <%= @workout.set_work_rest_array %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@workout.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@workout.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "workout_templates/workout_workout_exercises" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "workout_templates/workout_exercises" %>
  </div>
</div>
