<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All exercises
    </h1>

    <a href="/exercises/new" class="btn btn-block btn-outline-secondary">
      Add a new exercise
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "exercise_templates/exercises_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Right left bool
        </th>

        <th>
          Reps bool
        </th>

        <th>
          Resistance bool
        </th>

        <th>
          Duration bool
        </th>

        <th>
          Work rest bool
        </th>

        <th>
          Gif link
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @exercises.each do |exercise| %>
      <tr>
        <td>
          <%= exercise.id %>
        </td>

        <td>
          <%= exercise.right_left_bool %>
        </td>

        <td>
          <%= exercise.reps_bool %>
        </td>

        <td>
          <%= exercise.resistance_bool %>
        </td>

        <td>
          <%= exercise.duration_bool %>
        </td>

        <td>
          <%= exercise.work_rest_bool %>
        </td>

        <td>
          <%= exercise.gif_link %>
        </td>

        <td>
          <%= time_ago_in_words(exercise.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(exercise.updated_at) %> ago
        </td>

        <td>
          <a href="/exercises/<%= exercise.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @exercises, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
