<!-- Form workout start -->
<form action="/create_workout_from_client" method="post">
<!-- Form workout end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @workout.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for client_id start -->
  <!-- Input for client_id start -->
  <input type="hidden" name="client_id" value="<%= @client.id %>">
  <!-- Input for client_id end -->

  <!-- Label and input for scheduled_date start -->
  <div class="form-group">
    <label for="scheduled_date">
      Scheduled date
    </label>

    <!-- Input for scheduled_date start -->
    <input type="text" id="scheduled_date" name="scheduled_date" class="form-control" value="<%= @workout.scheduled_date %>">
    <!-- Input for scheduled_date end -->
  </div>
  <!-- Label and input for scheduled_date end -->

  <!-- Label and input for logged_date start -->
  <div class="form-group">
    <label for="logged_date">
      Logged date
    </label>

    <!-- Input for logged_date start -->
    <input type="text" id="logged_date" name="logged_date" class="form-control" value="<%= @workout.logged_date %>">
    <!-- Input for logged_date end -->
  </div>
  <!-- Label and input for logged_date end -->

  <!-- Label and input for phase_number start -->
  <div class="form-group">
    <label for="phase_number">
      Phase number
    </label>

    <!-- Input for phase_number start -->
    <input type="text" id="phase_number" name="phase_number" class="form-control" value="<%= @workout.phase_number %>">
    <!-- Input for phase_number end -->
  </div>
  <!-- Label and input for phase_number end -->

  <!-- Label and input for week_number start -->
  <div class="form-group">
    <label for="week_number">
      Week number
    </label>

    <!-- Input for week_number start -->
    <input type="text" id="week_number" name="week_number" class="form-control" value="<%= @workout.week_number %>">
    <!-- Input for week_number end -->
  </div>
  <!-- Label and input for week_number end -->

  <!-- Label and input for day_number start -->
  <div class="form-group">
    <label for="day_number">
      Day number
    </label>

    <!-- Input for day_number start -->
    <input type="text" id="day_number" name="day_number" class="form-control" value="<%= @workout.day_number %>">
    <!-- Input for day_number end -->
  </div>
  <!-- Label and input for day_number end -->

  <!-- Label and input for workout_focus start -->
  <div class="form-group">
    <label for="workout_focus">
      Workout focus
    </label>

    <!-- Input for workout_focus start -->
    <input type="text" id="workout_focus" name="workout_focus" class="form-control" value="<%= @workout.workout_focus %>">
    <!-- Input for workout_focus end -->
  </div>
  <!-- Label and input for workout_focus end -->

  <!-- Label and input for sets_reps_array start -->
  <div class="form-group">
    <label for="sets_reps_array">
      Sets reps array
    </label>

    <!-- Input for sets_reps_array start -->
    <input type="text" id="sets_reps_array" name="sets_reps_array" class="form-control" value="<%= @workout.sets_reps_array %>">
    <!-- Input for sets_reps_array end -->
  </div>
  <!-- Label and input for sets_reps_array end -->

  <!-- Label and input for resistance_array start -->
  <div class="form-group">
    <label for="resistance_array">
      Resistance array
    </label>

    <!-- Input for resistance_array start -->
    <input type="text" id="resistance_array" name="resistance_array" class="form-control" value="<%= @workout.resistance_array %>">
    <!-- Input for resistance_array end -->
  </div>
  <!-- Label and input for resistance_array end -->

  <!-- Label and input for set_duration_array start -->
  <div class="form-group">
    <label for="set_duration_array">
      Set duration array
    </label>

    <!-- Input for set_duration_array start -->
    <input type="text" id="set_duration_array" name="set_duration_array" class="form-control" value="<%= @workout.set_duration_array %>">
    <!-- Input for set_duration_array end -->
  </div>
  <!-- Label and input for set_duration_array end -->

  <!-- Label and input for set_work_rest_array start -->
  <div class="form-group">
    <label for="set_work_rest_array">
      Set work rest array
    </label>

    <!-- Input for set_work_rest_array start -->
    <input type="text" id="set_work_rest_array" name="set_work_rest_array" class="form-control" value="<%= @workout.set_work_rest_array %>">
    <!-- Input for set_work_rest_array end -->
  </div>
  <!-- Label and input for set_work_rest_array end -->

  <button class="btn btn-block btn-outline-secondary">
    Create workout
  </button>
</form>
