<h1>
  Edit client #<%= @client.id %>
</h1>

<hr>

<form action="/update_client/<%= @client.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @client.name %>">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @client.email %>">
  </div>

  <div class="form-group">
    <label for="weekley_commitment">
      Weekley commitment
    </label>

    <input type="text" id="weekley_commitment" name="weekley_commitment" class="form-control" value="<%= @client.weekley_commitment %>">
  </div>

  <div class="form-group">
    <label for="phone">
      Phone
    </label>

    <input type="text" id="phone" name="phone" class="form-control" value="<%= @client.phone %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update client
  </button>
</form>

<hr>

<a href="/clients">
  Go back
</a>
