<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Workout exercise #<%= @workout_exercise.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/workout_exercises" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/workout_exercises/<%= @workout_exercise.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit workout exercise
        </a>
      </div>

      <div class="col">
        <a href="/delete_workout_exercise/<%= @workout_exercise.id %>" class="btn btn-block btn-outline-secondary">
          Delete workout exercise
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Workout
      </dt>
      <dd>
        <% if @workout_exercise.workout.present? %>
          <a href="/workouts/<%= @workout_exercise.workout_id %>">
            <%= @workout_exercise.workout.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Exercise
      </dt>
      <dd>
        <% if @workout_exercise.exercise.present? %>
          <a href="/exercises/<%= @workout_exercise.exercise_id %>">
            <%= @workout_exercise.exercise.right_left_bool %>
          </a>
        <% end %>
      </dd>

      <dt>
        Workout focus
      </dt>
      <dd>
        <%= @workout_exercise.workout_focus %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@workout_exercise.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@workout_exercise.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

