<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Workout exercise #<%= @workout_exercise.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/workout_exercises" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link workout_exercise start -->
      <div class="col">
        <a href="/workout_exercises/<%= @workout_exercise.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit workout exercise
        </a>
      </div>
      <!-- Edit link workout_exercise end -->

      <!-- Delete link workout_exercise start -->
      <div class="col">
        <a href="/delete_workout_exercise/<%= @workout_exercise.id %>" class="btn btn-block btn-outline-secondary">
          Delete workout exercise
        </a>
      </div>
      <!-- Delete link workout_exercise end -->
    </div>

    <dl>
      <dt>
        Workout
      </dt>
      <!-- Display workout_id start -->
      <dd>
        <%= @workout_exercise.workout_id %>
      </dd>
      <!-- Display workout_id end -->

      <dt>
        Exercise
      </dt>
      <!-- Display exercise_id start -->
      <dd>
        <%= @workout_exercise.exercise_id %>
      </dd>
      <!-- Display exercise_id end -->

      <dt>
        Workout focus
      </dt>
      <!-- Display workout_focus start -->
      <dd>
        <%= @workout_exercise.workout_focus %>
      </dd>
      <!-- Display workout_focus end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@workout_exercise.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@workout_exercise.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
