<!-- Validation failure messages -->
<% if @element_category.errors.any? %>
  <% @element_category.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit element category #<%= @element_category.id %>
</h1>

<hr>

<!-- Form element_category start -->
<form action="/update_element_category/<%= @element_category.id %>" method="post">
<!-- Form element_category end -->

  <!-- Label and input for category_name start -->
  <div class="form-group">
    <label for="category_name">
      Category name
    </label>

    <!-- Input for category_name start -->
    <input type="text" id="category_name" name="category_name" class="form-control" value="<%= @element_category.category_name %>">
    <!-- Input for category_name end -->
  </div>
  <!-- Label and input for category_name end -->

  <!-- Label and input for position_number start -->
  <div class="form-group">
    <label for="position_number">
      Position number
    </label>

    <!-- Input for position_number start -->
    <input type="text" id="position_number" name="position_number" class="form-control" value="<%= @element_category.position_number %>">
    <!-- Input for position_number end -->
  </div>
  <!-- Label and input for position_number end -->

  <button class="btn btn-block btn-outline-secondary">
    Update element category
  </button>
</form>

<hr>

<a href="/element_categories">
  Go back
</a>
