<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Element category #<%= @element_category.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/element_categories" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/element_categories/<%= @element_category.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit element category
        </a>
      </div>

      <div class="col">
        <a href="/delete_element_category/<%= @element_category.id %>" class="btn btn-block btn-outline-secondary">
          Delete element category
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Category name
      </dt>
      <dd>
        <%= @element_category.category_name %>
      </dd>

      <dt>
        Position number
      </dt>
      <dd>
        <%= @element_category.position_number %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@element_category.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@element_category.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "element_category_templates/element_category_elements" %>
  </div>
</div>
